<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MDG.BargeService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <MDG.BargeService.Properties.Settings>
            <setting name="MDG_BargeService_SVC_BargeDataService" serializeAs="String">
                <value>http://bargedata.com/DATASERVICE/BARGEDATASERVICE.ASMX</value>
            </setting>
        </MDG.BargeService.Properties.Settings>
    </applicationSettings>
</configuration>