<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Data_Model.Properties.Settings.BargeDataConnectionString"
            connectionString="Data Source=mwfogvdb01.opengovideo.com;Initial Catalog=BargeData;Persist Security Info=True;User ID=barkley;Password=Fd4#jsH"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>